<div class="modal fade js-denialModal" tabindex="-1" role="dialog" aria-labelledby="denialModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <%= form_tag deny_teacher_path(0), method: :post, class: "form-horizontal" do %>
        <div class="modal-body">
            <%= label_tag 'denial_reason', 'Reason', class: 'control-label' %>
            <%# The text field values are now filled when the modal is opened %>
            <%= text_field_tag 'js_name_field', nil, class: "form-control" %>
            <!-- <div class="form-group">
              <label for="reason-select">Reason for Denial (Select)</label>
              <select id="reason-select" name="reason-select" class="form-control">
                <option value="">Select a reason</option>
                <option value="Incomplete Application">Incomplete Application</option>
                <option value="Insufficient Experience">Insufficient Experience</option>
                <option value="Unfavorable References">Unfavorable References</option>
              </select>
            </div> -->
            <div class="form-check">
              <%= check_box_tag :skip_email, 'skip_email', false, class: 'form-check-input' %>
              <%= label_tag 'skip_email', 'Skip email notifcation?', class: 'form-check-label' %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= button_tag "Submit", name: nil, type: "submit", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  let modal = $('.js-denialModal');
  modal.on('shown.bs.modal', function (event) {
    let button = $(event.relatedTarget);
    let teacherId = button.data('teacher-id');
    let teacherName = button.data('teacher-name');
    let newAction = null;
    let newTitle = null;
    let reasonType = null;
    switch(button.data('modal-type')) {
      case "deny":
        newAction = `/teachers/${teacherId}/deny`;
        newTitle = 'Deny ' + teacherName;
        reasonType = 'denial_reason';
        break;
      case "request_info":
        newAction = `/teachers/${teacherId}/request_info`;
        newTitle = 'Request Info from ' + teacherName;
        reasonType = 'request_reason';
        break;
      default:
        newAction = `/teachers/${teacherId}/deny`;
        newTitle = 'Deny ' + teacherName;
        reasonType = 'denial_reason';
    }
    modal.find('.form-horizontal').attr('action', newAction);
    modal.find('.modal-title').text(newTitle);
   // Need to make reasonType the value of the TextField as well
    $('.form-control').attr("id", ":" + reasonType);
    $('.form-control').attr("name", reasonType);
  });
  modal.on('hidden.bs.modal', function () {
    $('#reason').val('');
    modal.find('.modal-title').text('');
  });
</script>
