<% provide(:h1, "BJC Teacher Dashboard") %>
<div class="">
  <h2>New Requests</h2>
    <table class="table js-dataTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Snap<i>!</i></th>
          <th scope="col">Website</th>
          <th scope="col">School</th>
          <th scope="col">Location</th>
          <th scope="col">Created</th>
          <th scope="col">Validate</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @unvalidated_teachers.each do |teacher| %>
        <tr>
          <%= render 'teachers/teacher', teacher: teacher %>
          <td> <%= button_to("Validate", validate_path(:id => teacher.id), {class: 'btn btn-success'}) %> </td>
          <td> <%= button_to("Delete", delete_path(:id => teacher.id), data: {confirm: "Are you sure you wish to delete this form?"}, class: 'btn btn-danger') %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% if @unvalidated_teachers.empty? %>

    <div class="alert alert-success" role="alert">
      <strong>No pending forms!</strong>
    </div>
    <% end %>
</div>

<h2>Schools Map</h2>
<%# This cannot be inside a .row or the formatting breaks. %>
<div id="map"></div>

<div class="row">
  <div class="col-6">
    <h2>Course Statistics</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
        <th scope="col"> Status </th>
        <th scope="col"> Count </th>
        </tr>
      </thead>
      <tbody>
        <% @statuses.each do |key, value| %>
        <tr>
          <td> <%= key %> </td>
          <td> <%= value %> </td>
        </tr>
        <% end %>
      </tbody>
      </table>
  </div>

  <div class="col-6">
    <h2>School Statistics</h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
          <th scope="col">School </th>
          <th scope="col">City, State </th>
          <th scope="col">Count </th>
          </tr>
        </thead>
        <tbody>
          <% @schools.limit(20).each do |school| %>
          <tr>
            <td>
              <%= link_to school.name, school.website, target: "_blank" %>
            </td>
            <td> <%= school.location %> </td>
            <td> <%= school.num_validated_teachers %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 39.50, lng: -98.35},
      zoom: 4
    });

    let markers = [];
    let infoWindows = [];
    <% @schools.each do |school| %>
    <% if school.lat && school.lng %>
      markers.push(new google.maps.Marker({
        position: new google.maps.LatLng(<%= school.lat %>, <%= school.lng %>),
        map: map
      }));
      infoWindows.push(new google.maps.InfoWindow({
        content: "<%= school.name %>"
      }));
      <% end %>
    <% end %>
    markers.forEach((marker, idx) => {
      let info = infoWindows[idx];
      marker.addListener('click', () => { info.open(map, marker) });
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7jyOFHSorVb256ZEwvvyprp2KPjxKTPw&callback=initMap">
</script>
