<div id='sign-up-form-container'>
  <h1 id="form-page-title">Sign up for BJC!</h1>

  <% if flash[:saved_teacher] %>
    Thanks for signing up!
  <% elsif flash[:failed] %>
    Error saving
  <% else %>
    <%= form_for @teacher do |f| %>
      <div class='form-input-group'>
        <h3>Your Information</h2>
        <div class='row'>
          <div class='col-6'>
            <h6>First Name</h6>

            <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control', id: "first name"%>
          </div>
          
          <div class='col-6'>
            <h6>Last Name</h6>
            <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control', id: "last name" %>
          </div>
        </div>

        <div class='row'>
          <div class='col-6'>
            <h6>Teacher Email</h6>
            <%= f.text_field :email, placeholder: 'Teacher Email', class: 'form-control', id: "email" %>
          </div>

          <div class='col-6'>
            <h6>Snap Username (if none, write N/A) </h6>
            <%= f.text_field :snap, placeholder: "Snap Username", class: "form-control", id: "snap username" %>
          </div>
        </div>

        <div class='row'>
          <div class='col-12'>
            <h6>Which Applies to You</h6>
            <%= f.select(
              :course, 
              [
                'I am teaching BJC as an AP CS Principles course.', 
                'I am teaching BJC but not as an AP CS Principles course.', 
                'I am using BJC as a resource, but not teaching with it.', 
                'I am a TEALS volunteer, and am teaching the BJC curriculum.',
                'Other - PLease specify Below'
              ],
              {
                include_blank: "Which applies to you?"
              }, 
              { 
                :class => 'form-control', :id => "course"
              }
            ) %>
          </div> 
        </div>
        
        <div class='row'>
          <div class='col-12'>
            <h6>Other (if none, write N/A)</h6>
            <%= f.text_field :other, placeholder: "Other", class: "form-control", id: "other" %>
            </div>
        </div>

      </div>

      <%= fields_for :school, @teacher.school do |school_fields| %>
        <div class='form-input-group'>
          <h2>Your School</h2>

          <div class='row'>
            <div class='col-6'>
            <h6>School Name</h6>
              <%= school_fields.text_field :name, placeholder: 'School Name', class: 'form-control', id: "school name" %>
            </div>

            <div class='col-4'>
            <h6>School City</h6>
              <%= school_fields.text_field :city, placeholder: 'School City', class: 'form-control', id: "school city" %>
            </div>

            <div class='col-2'>
            <h6>State</h6>
              <%= school_fields.select(:state, [ 'AL', 'AK', 'AS', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FM', 'FL', 'GA', 'GU', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MH', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'MP', 'OH', 'OK', 'OR', 'PW', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VI', 'VA', 'WA', 'WV', 'WI', 'WY' ], {include_blank: "State"}, { :class => 'form-control', :id => "state" }) %>
            </div>
          </div>

          <div>
            <h6>School Website</h6>
            <%= school_fields.text_field :website, placeholder: "School Website", class: "form-control", id: "school website" %>
          </div>

          <%# Add other field to course question %>
        </div>
      <% end %>
      
      <div>    
        <%= f.submit 'Submit', :class => 'btn btn-primary', id: 'form-submit-button' %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Go to Admin View", admins_path %><br>
<%= link_to "Go to Forms View", forms_path %><br>
<%= link_to "Go to Statistics View", statistics_path %>