<style>
  .login-form {
    width: 400px;
    max-width: 95%;
    margin: 30px auto;
  }
  .login-form .wrap {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .login-form h1 {
    margin: 0 0 15px;
  }

  .social-btn-group .btn {
    margin: 10px auto;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    height: 50px;
    vertical-align: middle;
    color: #FFFFFF;
  }

  .social-btn-group .btn svg {
    float: left;
    height: 30px;
    margin: 0 15px;
    min-width: 15px;
    fill: #FFFFFF
  }

  :root {
    --google-bg-color: #4285F4;
    --clever-bg-color: #436cf2;
    --yahoo-bg-color: #5f01d1;
    --snap-bg-color: rgb(255, 194, 57);
  }
  .social-btn-google {
    background-color: var(--google-bg-color);
  }

  .social-btn-google:hover,
  .social-btn-google:focus {
    color: var(--google-bg-color);
    background-color: #FFFFFF;
    border: 2px solid var(--google-bg-color);
  }

  .social-btn-google:hover svg,
  .social-btn-google:focus svg {
    fill: var(--google-bg-color);
  }

  button.btn.social-btn-snap {
    background-color: var(--snap-bg-color);
    color: #2F2F2F;
  }

  button.btn.social-btn-snap:hover,
  button.btn.social-btn-snap:focus {
    background-color: #2F2F2F;
    border: 2px solid var(--snap-bg-color);
    color: var(--snap-bg-color);
  }

  .social-btn-microsoft {
    background-color: #2F2F2F;
  }

  .social-btn-microsoft:hover,
  .social-btn-microsoft:focus {
    background-color: #FFFF;
    border: 2px solid #2F2F2F;
    color: #2F2F2F;
  }

  .social-btn-clever {
    background-color: var(--clever-bg-color);
  }

  .social-btn-yahoo {
    background-color: var(--yahoo-bg-color);
  }

  .social-btn-clever:hover,
  .social-btn-clever:focus {
    color: var(--clever-bg-color);
    background-color: #FFFFFF;
    border: 2px solid var(--clever-bg-color);
  }

  .social-btn-clever:hover svg,
  .social-btn-clever:focus svg {
    fill: var(--clever-bg-color);
  }

  .social-btn-yahoo:hover,
  .social-btn-yahoo:focus {
    color: var(--yahoo-bg-color);
    background-color: #FFFFFF;
    border: 2px solid var(--yahoo-bg-color);
  }

  .social-btn-yahoo:hover svg,
  .social-btn-yahoo:focus svg {
    fill: var(--yahoo-bg-color);
  }

  .social-btn-group .btn > .text {
    height: 30px;
  }
</style>

<div class="login-form">
  <div class="wrap">
    <h1 class="text-center">Sign In as a BJC Teacher</h1>
    <div class="text-center social-btn-group">
      <%= form_tag('/auth/google_oauth2', method: 'post') do %>
        <button class="btn btn-block social-btn-google">
          <svg aria-hidden=true width="10%" height="auto" viewBox="0 0 500 500"><path xmlns="http://www.w3.org/2000/svg" d="M179.817 0.889 C 102.035 10.762,38.384 59.806,12.292 129.969 C -5.769 178.536,-4.477 239.334,15.583 284.828 C 52.874 369.402,137.709 416.141,235.168 405.807 C 315.046 397.336,375.590 347.015,394.110 273.700 C 400.725 247.516,402.168 209.776,397.471 185.780 L 396.783 182.263 300.532 182.263 L 204.281 182.263 204.281 216.205 L 204.281 250.147 262.669 250.303 L 321.057 250.459 318.937 256.776 C 304.971 298.403,272.277 323.893,225.382 329.716 C 152.168 338.808,89.320 291.170,81.029 220.300 C 71.214 136.394,132.528 70.605,215.644 75.860 C 248.484 77.936,269.718 87.060,295.265 110.072 C 298.716 113.180,301.881 115.578,302.299 115.400 C 303.853 114.740,356.276 63.474,356.451 62.444 C 356.803 60.366,338.833 44.117,326.825 35.656 C 300.548 17.140,274.542 6.788,241.590 1.725 C 230.961 0.092,190.419 -0.457,179.817 0.889 " stroke="none" fill-rule="evenodd"/></svg>
          <div class="text">Sign in with Google</div>
        </button>
      <% end %>
      <%= form_tag('/auth/microsoft_graph', method: 'post') do %>
        <button class="btn btn-block social-btn-microsoft">
          <svg aria-hidden=true width="21" height="21" viewBox="0 0 21 21"><rect x="1" y="1" width="9" height="9" fill="#f25022"/><rect x="1" y="11" width="9" height="9" fill="#00a4ef"/><rect x="11" y="1" width="9" height="9" fill="#7fba00"/><rect x="11" y="11" width="9" height="9" fill="#ffb900"/></svg>
          <div class="text">Sign in with Microsoft</div>
        </button>
      <% end %>
      <%= form_tag('/auth/clever', method: 'post') do %>
        <button class="btn btn-block social-btn-clever">
          <svg aria-hidden=true width="10%" height="auto" viewBox="0 0 500 500"><path d="M174.839 3.077 C 86.291 21.798,20.387 88.220,2.678 176.591 C -1.252 196.206,-1.269 253.319,2.650 272.701 C 18.439 350.775,73.255 413.484,147.097 437.944 C 197.360 454.594,267.351 452.957,315.484 434.004 C 348.942 420.830,400.752 381.990,399.746 370.835 C 399.375 366.717,342.594 307.097,339.043 307.097 C 338.445 307.097,333.771 310.746,328.655 315.206 C 281.690 356.158,230.225 368.341,182.495 349.807 C 83.361 311.313,73.704 158.112,167.097 105.524 C 216.512 77.699,274.224 87.259,326.736 131.969 C 336.872 140.599,335.380 141.626,368.868 102.989 C 402.242 64.484,400.921 66.925,392.581 59.171 C 361.982 30.726,327.830 12.778,287.097 3.736 C 266.553 -0.825,195.271 -1.243,174.839 3.077 " stroke="none" fill-rule="evenodd"/></svg>
          <div class="text">Sign in with Clever</div>
        </button>
      <% end %>
      <%= form_tag('/auth/yahoo', method: 'post') do %>
        <button class="btn btn-block social-btn-yahoo">
          <svg aria-hidden=true viewBox="0 0 3386.34 3010.5" shape-rendering=geometricPrecision text-rendering=geometricPrecision image-rendering=optimizeQuality fill-rule=evenodd clip-rule=evenodd><path d="M0 732.88h645.84l376.07 962.1 380.96-962.1h628.76l-946.8 2277.62H451.98l259.19-603.53L.02 732.88zm2763.84 768.75h-704.26L2684.65 0l701.69.03-622.5 1501.6zm-519.78 143.72c216.09 0 391.25 175.17 391.25 391.22 0 216.06-175.16 391.23-391.25 391.23-216.06 0-391.19-175.17-391.19-391.23 0-216.05 175.16-391.22 391.19-391.22z" fill-rule="nonzero"/></svg>
          <div class="text">Sign in with Yahoo</div>
        </button>
      <% end %>
      <hr>
      <%= form_tag('/auth/discourse', method: 'post') do %>
        <button class="btn btn-default btn-block social-btn-snap">
          <svg aria-hidden=true version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="20px" height="auto" viewBox="0 0 95 123">
            <g transform="matrix(1, 0, 0, 1, 0, 3)">
              <path id="R_Leg" fill="#FFC93E" stroke="#603813" stroke-width="3" d="M47.316,104.251c0-1.276,0.358-3.109,2.338-3.523
                c2.857-0.599,6.126,2.293,7.014,3.146c-0.065,0.338,1.047,7.173,1.047,7.765c0,2.004-0.535,2.083-0.743,2.116
                c-1.956,0.284-7.169-5.197-9.562-8.387C47.376,105.193,47.316,104.809,47.316,104.251L47.316,104.251L47.316,104.251z"/>
              <path id="Center_Leg" fill="#FFC93E" stroke="#603813" stroke-width="4" d="M39.394,113.827c-1.418-1.538-1.621-5.707-1.621-7.482
                c0-0.752,0.039-1.253,0.041-1.268l0.002-0.039c0,0-0.004-0.16-0.004-0.219c0-3.341,3.075-4.501,3.597-4.675
                c1.781,0.021,4.858,0.864,5.593,2.136c0.075,0.128,0.144,0.289,0.144,0.495c0,0.181-0.054,0.4-0.208,0.666
                c-0.071,0.121-1.335,3.109-2.405,5.4l-0.765,2.119c-0.572,1.851-1.473,3.703-2.452,3.703
                C40.542,114.666,39.914,114.392,39.394,113.827L39.394,113.827L39.394,113.827z"/>
              <path id="R_Arm" fill="#FFC93E" stroke="#603813" stroke-width="3" d="M79.505,89.611l-1.383-2.44
                c-1.516-2.637-3.265-5.052-4.807-7.177c-1.983-2.738-3.71-5.571-4.281-7.572c-0.207-0.721-0.107-1.41,0.189-1.79
                c0.028-0.102,0.327-0.265,0.539-0.309c2.541-0.55,13.06,5.491,15.685,8.719c3.845,4.727,5.382,11.358,4.524,14.699
                c-0.352,1.364-1.139,2.332-2.278,2.793C84.782,97.71,82.867,95.586,79.505,89.611L79.505,89.611L79.505,89.611z"/>
              <path id="Body" fill="#FFC93E" stroke="#603813" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="
                M38.097,43.007c0,0-3.11-9.629-6.011-13.598c-1.72-2.79-4.2-6.267-7.477-6.049c-4.067,0.106-6.283,4.984-10.299,6.545
                c-2.602,1.003-9.461,2.314-8.406,0c2.813-5.814,14.04-9.079,16.844-16.379c1.263-3.305-4.272-7.252-7.941-7.942
                c-2.745-0.501-4.039,4.217-6.545,5.615c-1.151,0.643-4.339,1.305-3.753,0C6.629,6.836,9.052,1.172,13.845-0.495
                c3.617-1.254,7.562,2.473,10.299,5.119c8.464,8.185,15.617,17.938,23.24,26.65l4.511,5.139c0,0,3.225,3.956,5.692,6.566
                c0.044,0.045,2.378-0.317,3.989-1.657c1.314-1.096,1.141-2.323,1.559-4.902c0.384-2.371,0.802-6.659,2.072-6.681
                c1.916-0.029,3.176,7.868,3.666,10.793l0.272,1.565c0.643,3.479,3.999,13.94,4.144,14.384c0.046,0.108,0.121,0.249,0.121,0.249
                l0.027,0.056l0.038,0.047c5.185,6.429,9.038,14.223,9.038,21.524c0,15.464-13.555,26.349-31.697,26.349
                c-3.365,0-6.657-0.473-9.783-1.398l-0.168-0.049c0,0-4.908-0.412-11.186,7.84c-1.26,1.657-1.147,3.201-2.922,2.726
                c-0.592-0.158-1.026-0.593-1.382-1.383c-0.848-1.884-0.222-6.347,0.816-9.197l0.163-0.448l-0.375-0.297
                c-0.092-0.073-10.274-7.493-11.303-18.125c-0.896-9.268,3.785-14.545,5.728-17.444l1.117-1.858
                c1.409-3.428-1.243-8.195-3.583-12.401c-1.397-2.511-3.652-6.176-3.143-7.038c0.565-0.954,2.585,0.062,4.625,1.034
                c1.654,0.791,3.245,1.908,4.35,1.171c1.149-0.765,0.396-2.686-0.649-5.346c-0.982-2.498-2.841-6.443-2.127-8.072
                c0.197-0.447,0.542-0.762,1.055-0.961c1.897-0.734,4.609,2.461,6.805,4.961C31.532,41.469,34.57,44.927,38.097,43.007
                L38.097,43.007L38.097,43.007z"/>
              <g id="L_Eye">
                <path id="White_1_" fill="#FFFFFF" d="M41.228,79.489c0,2.789,2.263,5.05,5.054,5.05c2.791,0,5.051-2.261,5.051-5.05
                  c0-2.791-2.261-5.056-5.051-5.056C43.49,74.436,41.228,76.698,41.228,79.489L41.228,79.489L41.228,79.489z"/>
                <path id="Pupil_1_" fill="#603813" d="M46.961,75.796c0.981,0,1.87,0.398,2.513,1.043c0.645,0.643,1.042,1.532,1.042,2.513
                  c0,0.981-0.397,1.87-1.042,2.514c-0.644,0.644-1.532,1.042-2.513,1.042s-1.87-0.398-2.513-1.042
                  c-0.645-0.644-1.042-1.532-1.042-2.514c0-0.98,0.398-1.87,1.042-2.513C45.092,76.194,45.98,75.796,46.961,75.796L46.961,75.796z"
                  />
              </g>
              <g id="R_Eye">
                <path id="White" fill="#FFFFFF" d="M65.568,79.489c0,2.789,2.262,5.05,5.054,5.05c2.788,0,5.052-2.261,5.052-5.05
                  c0-2.791-2.262-5.056-5.052-5.056C67.83,74.436,65.568,76.698,65.568,79.489L65.568,79.489L65.568,79.489z"/>
                <path id="Pupil" fill="#603813" d="M67.745,79.352c0,1.964,1.59,3.555,3.556,3.555c1.963,0,3.556-1.59,3.556-3.555
                  c0-1.962-1.593-3.556-3.556-3.556C69.335,75.796,67.745,77.389,67.745,79.352L67.745,79.352L67.745,79.352z"/>
              </g>
              <path id="L_Arm" fill="#FFC93E" stroke="#603813" stroke-width="3" d="M6.341,98.994c-1.036-0.661-1.633-1.753-1.729-3.161
                c-0.234-3.445,2.492-9.682,7.134-13.626c3.17-2.694,14.617-6.707,17.014-5.703c0.198,0.083,0.463,0.297,0.472,0.404
                c0.224,0.427,0.194,1.119-0.14,1.791c-0.927,1.864-3.142,4.335-5.594,6.66c-1.906,1.814-4.065,3.863-6.035,6.181l-1.807,2.141
                C11.259,98.943,8.986,100.685,6.341,98.994L6.341,98.994L6.341,98.994z"/>
              <path id="Mouth" fill="none" stroke="#603813" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M63.148,95.391
                c0,0-4.599,0.004-7.819-2.756"/>
            </g>
          </svg>
          <div class="text">Sign in with Snap<em>!</em></div>
        </button>
      <% end %>
      <em class="hint-text small">If you are not currently logged into the Snap! Forums, you will need to log in to the BJC Teachers app twice when using your Snap! account. We're working on fixing this. Thanks!</em>
    </div>
  </div>
  <div class="hint-text small">Don't have an account? <a href="/">Please, sign up now.</a></div>
</div>
