<div class="btn-group" role="group" aria-label="New Page">
  <%= button_to("Add New Page", {action: "new"}, method: :get) %>
</div>

<table class="table js-dataTable">
  <thead class="thead-dark">
    <tr>
    <th scope="col">Title</th>
    <th scope="col">Slug</th>
    <th scope="col">Created At</th>
    <th scope="col">Last Editor</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @all_dynamic_pages.each do |p| %>
    <% if p.permissions ==  "Admin" || Teacher.find(session[:user_id]).admin %>
    <tr>
      <td> <%= link_to(p.title, controller: "dynamic_pages", action: "show", slug: p.slug) %> </td>
      <td> <%= p.slug %> </td>
      <td> <%= p.created_at %> </td>
      <td> <%= Teacher.find(p.last_editor).full_name %> </td>
      <td><%= link_to("Edit",controller: "dynamic_pages", action: "edit", slug: p.slug) %></button></td>
      <td><%= button_to "Delete", p, method: :delete, action: 'delete',class: "btn btn-primary btn-sm" %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
