<div class="form-group h3">Create a new Professional Development</div>
<div class='form-group row'>
  <div class='col'>
    <%= f.label :name, "Professional Development Name", class: "label-required" %>
    <%= f.text_field :name, placeholder: 'BJC Teacher Training', class: 'form-control',
                     required: false, id: 'professional_development_name' %>
  </div>
</div>
<div class='form-group row'>
  <div class='col-4'>
    <%= f.label :start_date, "Start Date", class: "label-required", for: "professional_development_start_date" %>
    <%= f.date_field :start_date, class: 'form-control', required: true, id: 'professional_development_start_date' %>
  </div>
  <div class='col-4'>
    <%= f.label :end_date, "End Date", class: "label-required", for: "professional_development_end_date" %>
    <%= f.date_field :end_date, class: 'form-control', required: true, id: 'professional_development_end_date' %>
  </div>
</div>
<div class='form-group row'>
  <div class='col-4'>
    <%= f.label :city, class: "label-required", for: "professional_development_city" %>
    <%= f.text_field :city, placeholder: 'Berkeley', class: 'form-control',
                     required: true, id: 'professional_development_city' %>
  </div>

  <div class='col-4' id="state_select_container">
    <%= f.label :state, class: "label-required", for: "professional_development_state" %>
    <%= f.select :state, School::VALID_STATES, { include_blank: "State" }, { id: "state_select", class: 'form-control' } %>
  </div>

  <div class='col-4' id="state_textfield_container">
    <%= f.label :state, for: "professional_development_state" %>
    <%= f.text_field :state, placeholder: "State", class: 'form-control', id: "state_textfield" %>
  </div>

  <div class='col-4'>
    <%= f.label :country, "Country", class: "label-required", for: "professional_development_country" %>
    <%= f.country_select(
          :country,
          { priority_countries: ['United States'] },
          { class: 'form-control', required: false, id: 'professional_development_country', format: :with_full_country_name, selected: 'United States'}
        ) %>
  </div>


</div>

<div class="form-group">
  <%= f.label :grade_level, "Grade Level", for: "professional_development_grade_level" %>
  <%= f.select(
        :grade_level,
        options_for_select(School.grade_level_options, professional_development.grade_level),
        { include_blank: "Select a grade level" },
        { class: 'form-control', required: false, id: 'professional_development_grade_level' }
      ) %>
</div>

<script>
    $(document).ready(function() {
        const countrySelected = $('#professional_development_country');
        const stateSelectContainer = $('#state_select_container');
        const stateTextfieldContainer = $('#state_textfield_container');
        const stateSelect = $('#state_select');
        const stateTextfield = $('#state_textfield');

        function handleCountryChange() {
            if (countrySelected.val() === 'US') {
                stateSelectContainer.show().attr('required', true);
                stateTextfieldContainer.hide();

                stateTextfield.removeAttr('name');
                stateSelect.attr('name', 'mock_professional_development[state]');
            } else {
                stateTextfieldContainer.show().attr('required', false);
                stateSelectContainer.hide();

                stateSelect.removeAttr('name');
                stateTextfield.attr('name', 'mock_professional_development[state]');
            }
        }
        countrySelected.change(handleCountryChange);
        handleCountryChange();
    });
</script>
