<%= provide(:h1, @professional_development.name) %>

<div class="card">
  <div class="card-header">
    <div class="row d-flex">
      <div class="col-sm-8 d-flex">
        <h3>
          <%= @professional_development.name %>
        </h3>
      </div>
      <div class="col-sm-4 text-right">
        <%= link_to("Edit", edit_professional_development_path(@professional_development), class: "btn btn-primary") %>
        <%= link_to("Delete", professional_development_path(@professional_development), method: "delete", class: "btn btn-danger", data: { confirm: "Are you sure?"}) %>
      </div>
    </div>
  </div>
  <div class="card-body ml-5">
    <div class="row mt-3 pb-3">
      <div class="col-sm-4">
        <h5>Location</h5>
        <%= "#{@professional_development.location}" %>
      </div>

      <div class="col-sm-4">
        <h5>Dates</h5>
        <%= @professional_development.start_date %> to <%= @professional_development.end_date %>
      </div>

      <div class="col-sm-4">
        <h5>GradeLevel</h5>
        <%= @professional_development.display_grade_level %>
      </div>
    </div>

    <hr>
    <div class="row mt-5 pb-3">
      <h4>PD Registrations</h4>
      <div class="col-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Teacher Name</th>
            <th>PD Session</th>
            <th>Attended</th>
            <th>Role</th>
          </tr>
          </thead>
          <tbody>
          <% @professional_development.pd_registrations.each do |registration| %>
            <tr>
              <td><%= link_to(registration.teacher_name, teacher_path(registration.teacher_id)) %></td>
              <td><%= @professional_development.name %></td>
              <td><%= registration.attended ? 'Yes' : 'No' %></td>
              <td><%= registration.role %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
