<div class="container">
  <h2 style="text-align: center">All Pages</h2>
  <ul class="nav nav-pills nav-fill flex-column">
    <%- categories.each do |category, pages_in_category| %>
      <li class="nav-item">
        <% @escaped_category = category.to_s.parameterize %>
        <%- if category != "Uncategorized" %>
          <a class="category-header nav-link lead text-dark" data-toggle="collapse"
            href="#category-<%= @escaped_category %>"
            role="button" aria-expanded="true"
            aria-controls="category-<%= @escaped_category %>">
            <i class="fa fa-caret-down"></i>
            <%= category %>
          </a>
          <hr class="p-0 m-0"/>
        <%- end %>
        <div class="category-collapse collapse show" id="category-<%= @escaped_category %>">
          <ul class="flex-column pl-1" >
            <%- pages_in_category.each do |page| %>
              <%- is_current = page == current_page %>
              <li class="nav">
                <%# id necessary for cuke tests. %>
                <a id="pagelink_<%= page.title %>" class="nav-link <%= "font-weight-bold active" if is_current %>"
                  <%= "aria-current=\"page\"" if is_current %>
                  href="<%= page_path(page) %>"><%= page.title %></a>
              </li>
            <%- end %>
          </ul>
        </div>
      </li>
    <%- end %>
  </ul>
</div>

<script>
   $('.category-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.category-header').children(":first").attr("class", "fa fa-caret-down");
  });

  $('.category-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.category-header').children(":first").attr("class", "fa fa-caret-right");
  });
</script>
