<%= form_for teacher do |f| %>
  <div class='form-group form-input-group'>
    <h2>Your Information</h2>
    <div class='form-group row'>
      <div class='col-6'>
        <%= f.label :first_name, "First Name", class: "label-required" %>
        <%= f.text_field :first_name, placeholder: 'Alonzo', class: 'form-control',
          required: true %>
      </div>

      <div class='col-6'>
        <%= f.label :last_name, "Last Name", class: "label-required" %>
        <%= f.text_field :last_name, placeholder: 'Church', class: 'form-control',
          required: true %>
      </div>
    </div>

    <div class='form-group row'>
      <div class='col-6'>
        <%= f.label :email, "School Email", class: "label-required" %>
        <%= f.text_field :email, placeholder: 'alonzo@snap.berkeley.edu', class: 'form-control',
          required: true, type: :email %>
      </div>

      <div class='col-6'>
        <%= f.label :snap do %>
          Snap<i>!</i> Username
        <% end %>
        <%= f.text_field :snap, placeholder: "alonzo", class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class='col-12'>
        <%= f.label :personal_website, "Personal or Course Website", class: "label" %>
        <%= f.text_field :personal_website, placeholder: "school.edu", class: "form-control", 
        pattern: ".+\\..+", title: "Please enter a valid URL." %>
      </div>
    </div>

    <div class='form-group row'>
      <div class='col-12'>
        <%= f.label :status, "What's your current status?", class: "label-required" %>
        <%= f.select(
          :status,
          options_for_select(Teacher.statuses, teacher.status_before_type_cast),
          { include_blank: "Select an option" },
          { class: 'form-control', required: true }
        ) %>
      </div>
    </div>

    <div class='form-group row'>
      <div class='col-12'>
        <%= f.label :education_level, "What's your education level target?", class: "label-required" %>
        <%= f.select(
          :education_level,
          options_for_select(Teacher.education_levels, teacher.education_level_before_type_cast),
          { include_blank: "Select an option" },
          { class: 'form-control', required: true }
        ) %>
      </div>
    </div>

    <div class='form-group row'>
      <div class='col-12'>
        <%= f.label :more_info, "More Information" %>
        <%= f.text_field :more_info, placeholder: "ex. I'm teaching a college course",
          class: "form-control" %>
        </div>
    </div>

  </div>

  <%= fields_for :school, @teacher.school do |school_fields| %>
    <div class='form-input-group'>
      <h2>Your School</h2>

      <div class='form-group row'>
        <div class='col-6'>
          <%= school_fields.label :name, "School Name", class: "label-required" %>
          <%= school_fields.text_field :name, placeholder: 'UC Berkeley', class: 'form-control',
            required: true %>
        </div>

        <div class='col-4'>
          <%= school_fields.label :city, class: "label-required" %>
          <%= school_fields.text_field :city, placeholder: 'Berkeley', class: 'form-control',
            required: true %>
        </div>

        <div class='col-2'>
          <%= school_fields.label :state, class: "label-required" %>
          <%= school_fields.select(
              :state,
              School::VALID_STATES,
              {include_blank: "State"},
              { class: 'form-control', required: true }
            ) %>
        </div>
      </div>

      <div class="form-group">
        <%= school_fields.label :website, "School Website", class: "label-required" %>
        <%= school_fields.text_field :website, placeholder: "snap.berkeley.edu",
          class: "form-control", required: true, pattern: ".+\\..+", title: "Please enter a valid URL." %>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
