<%= form_with model: @teacher, id: 'new_teacher' do |f| %>
<%# Render the select dropdown to change teacher's application
status ONLY IF the person viewing the form is an admin. %>

<%if @is_admin %>
    <div class='form-group form-input-group'>
      <div class='form-group row'>
        <div class='col-12'>
        <%= f.label :application_status, "Application Status: ", class: "label-required" %>
        <%= f.select(
        :application_status,
        options_for_select(Teacher.application_status_options, teacher.application_status_before_type_cast),
        { include_blank: "Select an option" },
        { class: 'form-control', required: true, onchange: 'requireVolunteerHostTeacher();' }
      ) %>
    </div>
  </div>
<% end %>



  <h2>Your Information</h2>
  <div class='form-group row'>
    <div class='col-6'>
      <%= f.label :first_name, "First Name", class: "label-required" %>
      <%= f.text_field :first_name, placeholder: 'Alonzo', class: 'form-control',
        required: true %>
    </div>

    <div class='col-6'>
      <%= f.label :last_name, "Last Name", class: "label-required" %>
      <%= f.text_field :last_name, placeholder: 'Church', class: 'form-control',
        required: true %>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-6'>
      <%= f.label :email, "School Email", class: "label-required" %>
      <%= f.text_field :email, placeholder: 'alonzo@snap.berkeley.edu', class: 'form-control',
        required: true, type: :email, readonly: @readonly %>
    </div>

    <div class='col-6'>
      <%= f.label :snap do %>
        Snap<i>!</i> Username <i>(optional)</i>
      <% end %>
      <%= f.text_field :snap, placeholder: "alonzo", class: "form-control", readonly: @readonly %>
    </div>
  </div>

  <div class="form-group row">
    <div class='col-12'>
      <%= f.label :personal_website do %>
        Personal or Course Website <i>(optional)</i>
      <% end %>
      <%= f.text_field :personal_website, placeholder: "school.edu", class: "form-control",
      pattern: ".+\\..+", title: "Please enter a valid URL." %>
    </div>
  </div>

  <%# For now... only admins can enter/edit personal emails. %>
  <%- if current_user&.admin? || @teacher.personal_email.present? %>
  <div class="form-group row">
    <div class='col-12'>
      <%= f.label :personal_email do %>
        Personal Email</i>
      <% end %>
      <%= f.text_field :personal_email, placeholder: 'alonzo@gmail.com', class: 'form-control',
        required: false, type: :email, readonly: @readonly %>
    </div>
  </div>
  <% end %>

  <div class='form-group row'>
    <div class='col-12'>
      <%= f.label :status, "What's your current status?", class: "label-required" %>
      <%= f.select(
        :status,
        options_for_select(Teacher.status_options, teacher.status_before_type_cast),
        { include_blank: "Select an option" },
        { class: 'form-control', required: true, onchange: 'requireVolunteerHostTeacher();' }
      ) %>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-12'>
      <%= f.label :education_level, "What's your education level target?", class: "label-required" %>
      <%= f.select(
        :education_level,
        options_for_select(Teacher.education_level_options, teacher.education_level_before_type_cast),
        { include_blank: "Select an option" },
        { class: 'form-control', required: false }
      ) %>
    </div>
  </div>

  <div class='form-group row'>
    <div class='col-12'>
      <%= f.label :more_info, "More Information", class: "label-required" %>
      <%= f.text_area :more_info, placeholder: "I applied for access because...",
        class: "form-control", required: true, rows: "2" %>
    </div>
    <small class="col-12 form-text text-muted"><strong id='teacher-more-info-reminder'>Please tell us why you need access.</strong></small>
  </div>
  <%= f.hidden_field :school_id %>
</div>

<div class='form-group form-input-group'>
  <%= form_with model: @teacher.school, local: true do |school| %>
    <h2>Your School</h2>
    <%= render 'schools/selectize_form', f: school %>
    <%# NO END HERE -- NOTE BELOW %>
</div>

<%= f.submit (f.object.new_record? ? 'Submit' : 'Update'), class: 'btn btn-primary' %>
<%# TWO ENDS MUST COME AFTER SUBMIT -- Rails bug??? %>
<% end %>
<% end %>

<script>
  function requireVolunteerHostTeacher() {
    var status_val = $( "#teacher_status" ).val();

    <%# For TEALS volunteer, we also ask for the name of their host teacher. %>
    if (status_val == 3) {
      $("#teacher-more-info-reminder").text("Please tell us why you need access, and include the name of your host teacher here.");
    }
    else {
      $("#teacher-more-info-reminder").text("Please tell us why you need access.");
    }

  }
</script>
