<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3><%= teacher.full_name %></h3>
    <div>
      <%= link_to "Edit Information", edit_teacher_path(teacher), class: "btn btn-primary mr-2" %>
      <%= link_to("Delete", teacher_path(teacher), method: "delete", class: "btn btn-danger", data: {confirm: "Are you sure?"}) %>
    </div>
  </div>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Email:</div>
      <div class="col-sm-6">
        <a href=<%= "mailto:#{teacher.primary_email}" %>> <%= teacher.primary_email %> </a>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-sm" onclick="copyToClipboard('<%= teacher.primary_email %>')"><i class="fa fa-copy"></i></button>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Personal Email:</div>
      <div class="col-sm-6">
        <a href=<%= "mailto:#{teacher.personal_emails}" %>
          ><%= teacher.personal_emails %></a>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-sm" onclick="copyToClipboard('<%= teacher.personal_emails %>')"
          ><i class="fa fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Snap<i>!</i> Username:</div>
      <div class="col-sm-6">
        <%= snap_link(teacher) %>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-sm" onclick="copyToClipboard('<%= teacher.snap %>')"><i class="fa fa-copy"></i></button>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Application Status:</div>
      <div class="col-sm-8">
        <%= teacher.display_application_status %>
      </div>
    </div>
    <% if teacher.status_before_type_cast == 9 %>
      <div class="row mb-4">
        <div class="col-sm-4 font-weight-bold">Uploaded Files:</div>
          <%= render 'files_display', teacher: @teacher, show_add_file: true, show_delete_file: true %>
      </div>  
    <% end %>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Personal or Course Website:</div>
      <div class="col-sm-8">
        <% if teacher.personal_website.blank? %>
          None provided
        <% else %>
          <%= teacher.personal_website %>
        <% end %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Education Level Target:</div>
      <div class="col-sm-8">
        <%= teacher.display_education_level %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Classroom Language(s):</div>
      <div class="col-sm-8">
        <%= teacher.display_languages %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Current Status:</div>
      <div class="col-sm-8">
        <%= teacher.display_status %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">School:</div>
      <div class="col-sm-8">
        <%= link_to(teacher.school.name, school_path(teacher.school)) %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">School Location:</div>
      <div class="col-sm-8">
        <%= "#{teacher.school.location}" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 font-weight-bold">Sign Up Date:</div>
      <div class="col-sm-8">
        <%= teacher.created_at %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">Session Count:</div>
      <div class="col-sm-8">
        <%= teacher.session_count %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4 font-weight-bold">IP History:</div>
      <div class="col-sm-8">
        <%= ip_history_display(teacher) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 font-weight-bold">Last Session:</div>
      <div class="col-sm-8">
        <%= teacher.last_session_at || "-" %>
      </div>
    </div>
  </div>
</div>

<script>
  function copyToClipboard(text) {
    // Create a temporary textarea element to hold the text to copy
    const textarea = document.createElement("textarea");
    textarea.value = text;
    textarea.setAttribute("readonly", "");
    textarea.style.position = "absolute";
    textarea.style.left = "-9999px";
    document.body.appendChild(textarea);

    // Select the text and copy it to the clipboard
    textarea.select();
    document.execCommand("copy");

    // Remove the temporary element
    document.body.removeChild(textarea);
  }
</script>
