<% if merge_table %>
  <td><%= teacher.id %></td>
<% end %>
<td>
  <% if merge_table %>
    <%= link_to teacher.full_name, preview_merge_path(@teacher.id, teacher.id), method: :get %>
  <% else %>
    <%= link_to(teacher.full_name, teacher_path(teacher)) %>
  <% end %>
  <%= link_to('(Web)', teacher.personal_website, target: '_blank') if teacher.personal_website.present? %>
</td>
<td>
  <%= teacher.primary_email %>
  <% if teacher.personal_emails.present? %>
    <% teacher.personal_emails.each do |email| %>
      <br><%= email %>
    <% end %>
  <% end %>
</td>
<td
    <%- if teacher.display_status.length > 25 %>
    data-toggle="tooltip"
    data-placement="right"
    title="<%= teacher.display_status %>"
    <% end %>
  >
  <%= truncate(teacher.display_status, length: 25) %>
  <%# <button
    type="button" class="btn btn-sm btn-outline" >
    <i class="fas fa-info-circle"></i>
  </button> %>
</td>
<td><%= snap_link(teacher) %></td>
<td>
  <%= link_to(teacher.school.name, school_path(teacher.school)) %>
  <%= teacher.school.location %>
  <br><%= teacher.school.display_grade_level %>
</td>
<td
  data-search="<%= teacher.display_application_status %>" data-col="status"
  data-toggle="tooltip"
  data-placement="bottom"
  title="<%= teacher.display_application_status %>"
  ><%= teacher.short_application_status %></td>
<td data-sort="<%= teacher.created_at %>">
  <%= teacher.created_at.strftime("%m/%d/%Y") %>
</td>
