<td> <%= link_to(teacher.full_name, edit_teacher_path(teacher)) %> </td>
<td> <%= teacher.email %> </td>
<td> <%= teacher.display_status %> </td>
<td>
  <%# TODO: Extract this into a method / helper. %>
  <% if ['N/A', 'None', '', nil].include?(teacher[:snap]) %>
    —
  <% else %>
    <a href="https://snap.berkeley.edu/user?user=<%= teacher[:snap] %>" target="_blank">
      <%= teacher[:snap] %>
    </a>
  <% end %>
</td>
<td>
  <%= link_to('Website', teacher.personal_website) if teacher.personal_website %>
</td>
<td>
  <a href="<%= teacher.school.website %>" target="_blank">
    <%= teacher.school.name %>
  </a>
</td>
<td> <%= teacher.school.location %> </td>
<td data-sort="<%= teacher.created_at %>">
  <%= teacher.created_at.strftime("%b %d, %Y") %>
</td>
