<td><%= link_to(teacher.full_name, edit_teacher_path(teacher)) %></td>
<td><%= teacher.email %></td>
<td><%= teacher.display_status %></td>
<td><%= snap_link(teacher) %></td>
<td>
  <%= link_to('Website', teacher.personal_website) if teacher.personal_website %>
</td>
<td>
  <%= link_to(teacher.school.name, teacher.school.website, target: '_blank') %>
</td>
<td> <%= teacher.school.location %> </td>
<td> <%= teacher.display_application_status %> </td>
<td data-sort="<%= teacher.created_at %>">
  <%= teacher.created_at.strftime("%b %d, %Y") %>
</td>
