<div style="margin-top: 55px;">
  <h1>Validate submitted forms here</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
      	<th scope="col"> Name </th>
      	<th scope="col"> School </th>
      	<th scope="col"> Email </th>
      	<th scope="col"> Location </th>
      	<th scope="col"> Website </th>
      	<th scope="col"> Snap </th>
      	<th scope="col"> Validate </th>
      	<th scope="col"> Delete </th>
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher| %>
      <tr>
      	<td> <%= teacher.first_name + ' ' + teacher.last_name %> </td>
      	<td> <%= teacher.school.name %> </td>
      	<td> <%= teacher.email %> </td>
      	<td> <%= teacher.school.city + ', ' + teacher.school.state %> </td>
      	<td> <%= teacher.school.website %> </td>
		<td> <%= teacher.snap %> </td>
      	<td> <%= button_to("Validate", validate_path(:id => teacher.id), {class: 'btn btn-success'}) %> </td>
      	<td> <%= button_to("Delete", delete_path(:id => teacher.id), data: {confirm: "Are you sure you wish to delete this form?"}, class: 'btn btn-danger') %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>