<%= provide(:h1, "All BJC Teachers") %>

<h2><%= @validated_teachers.count %> total teachers.</h2>

<div class="col-12">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Snap<i>!</i></th>
        <th scope="col">School</th>
        <th scope="col">Location</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <% @validated_teachers.each do |teacher| %>
      <tr>
        <td> <%= teacher[:first_name] + " " + teacher[:last_name] %> </td>
        <td> <%= teacher[:email] %> </td>
        <td> <%= teacher[:course] %> </td>
        <td>
          <% if ['N/A', 'None', ''].include? teacher[:snap] %>
            <%= teacher[:snap] %>
          <% else %>
            <a href="https://snap.berkeley.edu/user?user=<%= teacher[:snap] %>" target="_blank">
              <%= teacher[:snap] %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="<%= teacher.school.website %>" target="_blank">
            <%= teacher.school.name %>
          </a>
        </td>
        <td> <%= teacher.school.city + ', ' + teacher.school.state %> </td>
        <td> <%= teacher[:created_at].strftime("%d %b %Y") %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
