<%= provide(:h1, "Request Access to Teacher Materials") %>

<div id='sign-up-form-container'>
  <% if flash[:saved_teacher] %>
    <div class="alert alert-success" role="alert">
      <strong>Thanks for signing up!</strong>
    </div>
  <% else %>
    <%= form_for @teacher do |f| %>
      <div class='form-input-group'>
        <h2>Your Information</h2>
        <div class='row'>
          <div class='col-6'>
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, placeholder: 'Alonzo', class: 'form-control' %>
          </div>

          <div class='col-6'>
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, placeholder: 'Church', class: 'form-control' %>
          </div>
        </div>

        <div class='row'>
          <div class='col-6'>
            <%= f.label :email, "Email Address" %>
            <%= f.text_field :email, placeholder: 'alonzo@snap.berkeley.edu', class: 'form-control' %>
          </div>

          <div class='col-6'>
            <%= f.label :snap do %>
              Snap<i>!</i> Username
            <% end %>
            <%= f.text_field :snap, placeholder: "alonzo", class: "form-control" %>
          </div>
        </div>

        <div class='row'>
          <div class='col-12'>
            <%= f.label :course, "What's your current status?" %>
            <%= f.select(
              :course,
              Teacher.statuses,
              { include_blank: "Select an option" },
              { class: 'form-control' }
            ) %>
          </div>
        </div>

        <div class='row'>
          <div class='col-12'>
            <%= f.label :other, "More Information" %>
            <%= f.text_field :other, placeholder: "ex. I'm teaching a college course", class: "form-control" %>
            </div>
        </div>

      </div>

      <%= fields_for :school, @teacher.school do |school_fields| %>
        <div class='form-input-group'>
          <h2>Your School</h2>

          <div class='row'>
            <div class='col-6'>
              <%= school_fields.label :name, "School Name" %>
              <%= school_fields.text_field :name, placeholder: 'UC Berkeley', class: 'form-control' %>
            </div>

            <div class='col-4'>
              <%= school_fields.label :city %>
              <%= school_fields.text_field :city, placeholder: 'Berkeley', class: 'form-control' %>
            </div>

            <div class='col-2'>
              <%= school_fields.label :state %>
              <%= school_fields.select(:state, [ 'AL', 'AK', 'AS', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FM', 'FL', 'GA', 'GU', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MH', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'MP', 'OH', 'OK', 'OR', 'PW', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VI', 'VA', 'WA', 'WV', 'WI', 'WY' ], {include_blank: "State"}, { :class => 'form-control' }) %>
            </div>
          </div>

          <div>
            <%= school_fields.label :website, "School Website" %>
            <%= school_fields.text_field :website, placeholder: "https://snap.berkeley.edu", class: "form-control" %>
          </div>
        </div>
      <% end %>

      <div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
