<div class='form-group row'>
    <div class='col-6'>
        <%= fields.label :name, "School Name", class: "label-required" %>
        <%= fields.text_field :name, placeholder: 'UC Berkeley', class: 'form-control',
        required: true %>
    </div>

    <div class='col-4'>
        <%= fields.label :city, class: "label-required" %>
        <%= fields.text_field :city, placeholder: 'Berkeley', class: 'form-control',
        required: true %>
    </div>

    <div class='col-2'>
        <%= fields.label :state, class: "label-required" %>
        <%= fields.select(
            :state,
            School::VALID_STATES,
            {include_blank: "State"},
            { class: 'form-control', required: true }
        ) %>
    </div>
</div>

<div class="form-group">
  <%= fields.label :website, "School Website", class: "label-required" %>
  <%= fields.text_field :website, placeholder: "snap.berkeley.edu",
      class: "form-control", required: true, pattern: ".+\\..+", title: "Please enter a valid URL." %>
</div>

<div class="form-group">
  <%= fields.label :grade_level, "Grade Level", class: "label-required" %>
  <%= fields.select(
          :grade_level,
          options_for_select(School.grade_level_options),
          { include_blank: "Select an option" },
          { class: 'form-control', required: true }
        ) %>
</div>

<div class="form-group">
  <%= fields.label :school_type, "School Type", class: "label-required" %>
  <%= fields.select(
          :school_type,
          options_for_select(School.school_type_options),
          { include_blank: "Select an option" },
          { class: 'form-control', required: true }
        ) %>
</div>


<% if logged_in? ? current_user.admin : false %>
  <%= fields.label :tags, "Tags" %>
  <div class="form-group row">
    <div class='col-2'>
      <%= fields.text_field :tags, placeholder: "Tag Name", multiple: true,
          class: "form-control" %>
    </div>
    <div class='col-2'>
      <%= fields.text_field :tags, placeholder: "Tag Name", multiple: true,
          class: "form-control" %>
    </div>
    <div class='col-2'>
      <%= fields.text_field :tags, placeholder: "Tag Name", multiple: true,
          class: "form-control" %>
    </div>
    <div class='col-2'>
      <%= fields.text_field :tags, placeholder: "Tag Name", multiple: true,
          class: "form-control" %>
    </div>
    <div class='col-2'>
      <%= fields.text_field :tags, placeholder: "Tag Name", multiple: true,
          class: "form-control" %>
    </div>
    <div class='col-2'>
      <%= fields.text_field :tags, placeholder: "Tag Name", multiple: true,
          class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= fields.label :nces_id, "NCES ID" %>
    <%= fields.number_field :nces_id, placeholder: "000000000000",
        class: "form-control", max: 999999999999, title: "Please enter a valid NCES ID." %>
  </div>
<% end %>