<div  class='form-group row' >
  <div class='col-12'>
    <%= fields.label :name, "School Name", class: "label-required" %>
    <%= fields.select :name,School.distinct.pluck(:name), {},
     {class: "select"}%>
  <%= javascript_pack_tag 'schools' %>
  <%= stylesheet_pack_tag 'schools', media: 'all', 'data-turbolinks-track': 'true' %>
  <%= csrf_meta_tags %>
</div>
