<div class="form-group">
  <%= f.label :name, "Search for your school or add a new one", class: "label-required", for: "school_selectize" %>
  <%= f.select :name,
    options_for_select( @ordered_schools.reject { |school| school.name == "Home School" }
    .map(&:selectize_options)),
    {prompt: "Enter the name or city of your school"},
    {class: "select", id: "school_selectize" } %>
  <%= javascript_pack_tag 'schools' %>
  <%= stylesheet_pack_tag 'schools', media: 'all', 'data-turbolinks-track': 'true' %>
  <%= csrf_meta_tags %>
</div>

<div id="school_form" style="display: none">
  <div class = "col-14 d-flex justify-content-end" id="innest_form">
    <button type="button" class="btn btn-primary btn-sm" aria-label="Close" id="close_button">Clear</button>
  </div>

  <%= render 'schools/form', f: f, school: @school %>
</div>
