<%= provide(:h1, @school.name) %>

<div class="card">
  <div class="card-header">
    <div class="row d-flex">
      <div class="col-sm-8 d-flex">
        <h3>
          <%= @school.name %>
        </h3>
      </div>
      <div class="col-sm-4 text-right">
        <%= link_to("Edit", edit_school_path(@school), class: "btn btn-primary") %>
        <%= link_to("Delete", school_path(@school), method: "delete", class: "btn btn-danger", data: {confirm: "Are you sure?"}) %>
        <% if @is_admin %>
          <button id="school-merge-button" class="btn btn-warning">Merge</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body ml-5">
    <div class="row mt-3 pb-3">
      <div class="col-sm-4">
        <h5>Location</h5>
        <%= @school.location %>
      </div>

      <div class="col-sm-4">
        <h5>Grade Level</h5>
        <%= @school.display_grade_level %>
      </div>

      <div class="col-sm-4">
        <h5>URL</h5>
        <%= link_to(@school.website, @school.website) %>
      </div>
    </div>

    <div class="row mt-5 pb-3">
      <div class="col-sm-4">
        <h5>Number of Teachers</h5>
        <%= @school.teachers_count %>
      </div>

      <div class="col-sm-4">
        <h5>School Type</h5>
        <%= @school.school_type %>
      </div>

      <div class="col-sm-4">
        <h5>Date Added</h5>
        <%= @school.created_at %>
      </div>
    </div>
    <hr>
    <div class="row mt-5 pb-3">
      <h4>Teachers</h4>
      <div class="col-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Approved?</th>
                <th>Date Submitted</th>
              </tr>
            </thead>
            <tbody>
              <% @school.teachers.each do |teacher| %>
                <tr>
                  <td><%= link_to(teacher.full_name, teacher_path(teacher)) %></td>
                  <td>
                    <%= teacher.primary_email %>
                    <% if teacher.personal_emails.present? %>
                      <% teacher.personal_emails.each do |email| %>
                        <br><%= email %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= teacher.display_status %></td>
                  <td><%= teacher.display_application_status %></td>
                  <td><%= teacher.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<!-- School Merge Modal -->
<div id="school-merge-modal" class="merge_modal">
  <div class="merge_modal-content">
    <h2>Choose A School To Merge Into</h2>
    <span class="close">&times;</span>
    <table class="table table-striped js-dataTable">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Grade Level</th>
          <th>Teachers</th>
        </tr>
      </thead>
      <tbody>
        <% @all_schools_except_current.each do |school| %>
          <tr>
            <td>
              <%= link_to school.name, preview_school_merge_path(from: @school.id, into: school.id), method: :get %>
            </td>
            <td><%= school.location %></td>
            <td><%= school.display_grade_level %></td>
            <td><%= school.teachers_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function() {
    let modal = $('#school-merge-modal');

    $('#school-merge-button').click(() => modal.show());
    $('.close').click(() => modal.hide());
  });
</script>
