<!DOCTYPE html>
<html lang="en">
<head>
  <title>BJC Teachers</title>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/navbar' %>

  <div class="container">
    <main>
      <h1 class="page-title"><%= yield(:h1) %></h1>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
  </div>

  <%= render "layouts/footer" %>

</body>
</html>
