<!DOCTYPE html>
<html lang="en">
<head>
  <%- if content_for?(:title) %>
    <title><%= yield(:title) %> | BJC Teachers</title>
  <%- else %>
    <title>BJC Teachers</title>
  <%- end %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/navbar' %>

  <div class="container-fluid">
    <main>
      <%= render 'layouts/flash' %>
      <div class="page-title row">
          <div class="col-9">
            <%- if content_for?(:h1) %>
              <h1><%= yield(:h1) %></h1>
            <%- end %>
          </div>

          <div class="col-3">
            <%- if content_for?(:header_button) %>
              <%- if logged_in? && current_user.admin? %>
                <%= button_to(yield(:header_button), {action: "new"}, method: "get", class: "btn btn-primary", type: 'button') %>
              <%- end %>
            <%- end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </main>
  </div>

  <%= render "layouts/footer" %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DELTT88MWV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DELTT88MWV');
  </script>
</body>
</html>
