<!DOCTYPE html>
<html lang="en">
<head>
  <%- if content_for?(:title) %>
    <title><%= yield(:title) %> | BJC Teachers</title>
  <%- else %>
    <title>BJC Teachers</title>
  <%- end %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'bjc' %>
  <%= stylesheet_pack_tag 'bjc' %>

  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/navbar' %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 pages-sidebar">
        <%= render 'pages/sidebar', current_page: @pages, pages: @pages %>
      </div>

      <div class="col-10">
        <div class="container">
          <div class="page-title">
            <%= render 'layouts/flash' %>
            <%- if content_for?(:h1) %>
              <h1><%= yield(:h1) %></h1>
            <%- end %>
          </div>
          <main class="row">
            <div class="full col-12"><%= yield %></div>
          </main>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>

</body>
</html>
